* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

header{
    background: #000;
}

header img {
    height:450px;
   
}

.titulo {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 40px;
    color: #fff;
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.sabor { 
    color: #fff;
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}

/*estilos materilize*/

.carousel{
    min-height: 500px;
}
.carousel .carousel-item{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    user-select: none;
    height: 500px;
    
}

.carousel .carousel-item a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:relative;
    top:0;
    left: 0;
    z-index: -1;
    border: 15px;
}

.carousel .indicators .indicator-item{
    border-radius: 0;
    transform:rotate(45deg);
    margin: 0 15%;
    background: #000;
}

/*imagenes*/
  
.imagenes {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.imagenes img{
    width: 50%;
    height: 50%;
   
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
}
.contenedor h3{
    text-align: center;
}
footer{
    background-color: rgb(12, 12, 11);
    padding: 100px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.img-top{
    text-align: center;
}